html,
body {
  background: #111;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 0;
}

.plane {
  width: 15px;
  height: 15px;
  transform-style: preserve-3d;
}
.plane.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(60deg) rotateZ(-30deg);
  animation: view 2s infinite linear;
}

.point {
  position: absolute;
  width: 15px;
  height: 15px;
  transform-style: preserve-3d;
  animation: spiral 10s paused linear both infinite alternate;
}
.point:nth-child(1) {
  animation-delay: -0.0333333333s;
}
.point:nth-child(1)::before {
  background: #5f1ae6;
  font-size: 2px;
}
.point:nth-child(1)::after {
  background: #e6c21a;
  font-size: 75px;
}
.point:nth-child(2) {
  animation-delay: -0.0666666667s;
}
.point:nth-child(2)::before {
  background: #611ae6;
  font-size: 50px;
}
.point:nth-child(2)::after {
  background: #e6c01a;
  font-size: 17px;
}
.point:nth-child(3) {
  animation-delay: -0.1s;
}
.point:nth-child(3)::before {
  background: #631ae6;
  font-size: 96px;
}
.point:nth-child(3)::after {
  background: #e6be1a;
  font-size: 59px;
}
.point:nth-child(4) {
  animation-delay: -0.1333333333s;
}
.point:nth-child(4)::before {
  background: #641ae6;
  font-size: 2px;
}
.point:nth-child(4)::after {
  background: #e6bd1a;
  font-size: 16px;
}
.point:nth-child(5) {
  animation-delay: -0.1666666667s;
}
.point:nth-child(5)::before {
  background: #661ae6;
  font-size: 92px;
}
.point:nth-child(5)::after {
  background: #e6bb1a;
  font-size: 20px;
}
.point:nth-child(6) {
  animation-delay: -0.2s;
}
.point:nth-child(6)::before {
  background: #681ae6;
  font-size: 76px;
}
.point:nth-child(6)::after {
  background: #e6b91a;
  font-size: 43px;
}
.point:nth-child(7) {
  animation-delay: -0.2333333333s;
}
.point:nth-child(7)::before {
  background: #691ae6;
  font-size: 8px;
}
.point:nth-child(7)::after {
  background: #e6b81a;
  font-size: 35px;
}
.point:nth-child(8) {
  animation-delay: -0.2666666667s;
}
.point:nth-child(8)::before {
  background: #6b1ae6;
  font-size: 60px;
}
.point:nth-child(8)::after {
  background: #e6b61a;
  font-size: 25px;
}
.point:nth-child(9) {
  animation-delay: -0.3s;
}
.point:nth-child(9)::before {
  background: #6d1ae6;
  font-size: 38px;
}
.point:nth-child(9)::after {
  background: #e6b41a;
  font-size: 87px;
}
.point:nth-child(10) {
  animation-delay: -0.3333333333s;
}
.point:nth-child(10)::before {
  background: #6f1ae6;
  font-size: 9px;
}
.point:nth-child(10)::after {
  background: #e6b31a;
  font-size: 68px;
}
.point:nth-child(11) {
  animation-delay: -0.3666666667s;
}
.point:nth-child(11)::before {
  background: #701ae6;
  font-size: 95px;
}
.point:nth-child(11)::after {
  background: #e6b11a;
  font-size: 61px;
}
.point:nth-child(12) {
  animation-delay: -0.4s;
}
.point:nth-child(12)::before {
  background: #721ae6;
  font-size: 64px;
}
.point:nth-child(12)::after {
  background: #e6af1a;
  font-size: 81px;
}
.point:nth-child(13) {
  animation-delay: -0.4333333333s;
}
.point:nth-child(13)::before {
  background: #741ae6;
  font-size: 90px;
}
.point:nth-child(13)::after {
  background: #e6ad1a;
  font-size: 83px;
}
.point:nth-child(14) {
  animation-delay: -0.4666666667s;
}
.point:nth-child(14)::before {
  background: #751ae6;
  font-size: 10px;
}
.point:nth-child(14)::after {
  background: #e6ac1a;
  font-size: 15px;
}
.point:nth-child(15) {
  animation-delay: -0.5s;
}
.point:nth-child(15)::before {
  background: #771ae6;
  font-size: 41px;
}
.point:nth-child(15)::after {
  background: #e6aa1a;
  font-size: 100px;
}
.point:nth-child(16) {
  animation-delay: -0.5333333333s;
}
.point:nth-child(16)::before {
  background: #791ae6;
  font-size: 16px;
}
.point:nth-child(16)::after {
  background: #e6a81a;
  font-size: 80px;
}
.point:nth-child(17) {
  animation-delay: -0.5666666667s;
}
.point:nth-child(17)::before {
  background: #7a1ae6;
  font-size: 15px;
}
.point:nth-child(17)::after {
  background: #e6a71a;
  font-size: 19px;
}
.point:nth-child(18) {
  animation-delay: -0.6s;
}
.point:nth-child(18)::before {
  background: #7c1ae6;
  font-size: 52px;
}
.point:nth-child(18)::after {
  background: #e6a51a;
  font-size: 39px;
}
.point:nth-child(19) {
  animation-delay: -0.6333333333s;
}
.point:nth-child(19)::before {
  background: #7e1ae6;
  font-size: 55px;
}
.point:nth-child(19)::after {
  background: #e6a31a;
  font-size: 44px;
}
.point:nth-child(20) {
  animation-delay: -0.6666666667s;
}
.point:nth-child(20)::before {
  background: #801ae6;
  font-size: 33px;
}
.point:nth-child(20)::after {
  background: #e6a21a;
  font-size: 57px;
}
.point:nth-child(21) {
  animation-delay: -0.7s;
}
.point:nth-child(21)::before {
  background: #811ae6;
  font-size: 34px;
}
.point:nth-child(21)::after {
  background: #e6a01a;
  font-size: 58px;
}
.point:nth-child(22) {
  animation-delay: -0.7333333333s;
}
.point:nth-child(22)::before {
  background: #831ae6;
  font-size: 72px;
}
.point:nth-child(22)::after {
  background: #e69e1a;
  font-size: 51px;
}
.point:nth-child(23) {
  animation-delay: -0.7666666667s;
}
.point:nth-child(23)::before {
  background: #851ae6;
  font-size: 44px;
}
.point:nth-child(23)::after {
  background: #e69c1a;
  font-size: 38px;
}
.point:nth-child(24) {
  animation-delay: -0.8s;
}
.point:nth-child(24)::before {
  background: #861ae6;
  font-size: 42px;
}
.point:nth-child(24)::after {
  background: #e69b1a;
  font-size: 18px;
}
.point:nth-child(25) {
  animation-delay: -0.8333333333s;
}
.point:nth-child(25)::before {
  background: #881ae6;
  font-size: 5px;
}
.point:nth-child(25)::after {
  background: #e6991a;
  font-size: 58px;
}
.point:nth-child(26) {
  animation-delay: -0.8666666667s;
}
.point:nth-child(26)::before {
  background: #8a1ae6;
  font-size: 15px;
}
.point:nth-child(26)::after {
  background: #e6971a;
  font-size: 90px;
}
.point:nth-child(27) {
  animation-delay: -0.9s;
}
.point:nth-child(27)::before {
  background: #8b1ae6;
  font-size: 54px;
}
.point:nth-child(27)::after {
  background: #e6961a;
  font-size: 6px;
}
.point:nth-child(28) {
  animation-delay: -0.9333333333s;
}
.point:nth-child(28)::before {
  background: #8d1ae6;
  font-size: 83px;
}
.point:nth-child(28)::after {
  background: #e6941a;
  font-size: 89px;
}
.point:nth-child(29) {
  animation-delay: -0.9666666667s;
}
.point:nth-child(29)::before {
  background: #8f1ae6;
  font-size: 95px;
}
.point:nth-child(29)::after {
  background: #e6921a;
  font-size: 25px;
}
.point:nth-child(30) {
  animation-delay: -1s;
}
.point:nth-child(30)::before {
  background: #911ae6;
  font-size: 21px;
}
.point:nth-child(30)::after {
  background: #e6911a;
  font-size: 63px;
}
.point:nth-child(31) {
  animation-delay: -1.0333333333s;
}
.point:nth-child(31)::before {
  background: #921ae6;
  font-size: 18px;
}
.point:nth-child(31)::after {
  background: #e68f1a;
  font-size: 91px;
}
.point:nth-child(32) {
  animation-delay: -1.0666666667s;
}
.point:nth-child(32)::before {
  background: #941ae6;
  font-size: 33px;
}
.point:nth-child(32)::after {
  background: #e68d1a;
  font-size: 17px;
}
.point:nth-child(33) {
  animation-delay: -1.1s;
}
.point:nth-child(33)::before {
  background: #961ae6;
  font-size: 87px;
}
.point:nth-child(33)::after {
  background: #e68b1a;
  font-size: 10px;
}
.point:nth-child(34) {
  animation-delay: -1.1333333333s;
}
.point:nth-child(34)::before {
  background: #971ae6;
  font-size: 28px;
}
.point:nth-child(34)::after {
  background: #e68a1a;
  font-size: 27px;
}
.point:nth-child(35) {
  animation-delay: -1.1666666667s;
}
.point:nth-child(35)::before {
  background: #991ae6;
  font-size: 29px;
}
.point:nth-child(35)::after {
  background: #e6881a;
  font-size: 1px;
}
.point:nth-child(36) {
  animation-delay: -1.2s;
}
.point:nth-child(36)::before {
  background: #9b1ae6;
  font-size: 38px;
}
.point:nth-child(36)::after {
  background: #e6861a;
  font-size: 45px;
}
.point:nth-child(37) {
  animation-delay: -1.2333333333s;
}
.point:nth-child(37)::before {
  background: #9c1ae6;
  font-size: 53px;
}
.point:nth-child(37)::after {
  background: #e6851a;
  font-size: 52px;
}
.point:nth-child(38) {
  animation-delay: -1.2666666667s;
}
.point:nth-child(38)::before {
  background: #9e1ae6;
  font-size: 74px;
}
.point:nth-child(38)::after {
  background: #e6831a;
  font-size: 31px;
}
.point:nth-child(39) {
  animation-delay: -1.3s;
}
.point:nth-child(39)::before {
  background: #a01ae6;
  font-size: 70px;
}
.point:nth-child(39)::after {
  background: #e6811a;
  font-size: 37px;
}
.point:nth-child(40) {
  animation-delay: -1.3333333333s;
}
.point:nth-child(40)::before {
  background: #a21ae6;
  font-size: 59px;
}
.point:nth-child(40)::after {
  background: #e6801a;
  font-size: 91px;
}
.point:nth-child(41) {
  animation-delay: -1.3666666667s;
}
.point:nth-child(41)::before {
  background: #a31ae6;
  font-size: 4px;
}
.point:nth-child(41)::after {
  background: #e67e1a;
  font-size: 95px;
}
.point:nth-child(42) {
  animation-delay: -1.4s;
}
.point:nth-child(42)::before {
  background: #a51ae6;
  font-size: 18px;
}
.point:nth-child(42)::after {
  background: #e67c1a;
  font-size: 61px;
}
.point:nth-child(43) {
  animation-delay: -1.4333333333s;
}
.point:nth-child(43)::before {
  background: #a71ae6;
  font-size: 97px;
}
.point:nth-child(43)::after {
  background: #e67a1a;
  font-size: 60px;
}
.point:nth-child(44) {
  animation-delay: -1.4666666667s;
}
.point:nth-child(44)::before {
  background: #a81ae6;
  font-size: 75px;
}
.point:nth-child(44)::after {
  background: #e6791a;
  font-size: 77px;
}
.point:nth-child(45) {
  animation-delay: -1.5s;
}
.point:nth-child(45)::before {
  background: #aa1ae6;
  font-size: 21px;
}
.point:nth-child(45)::after {
  background: #e6771a;
  font-size: 20px;
}
.point:nth-child(46) {
  animation-delay: -1.5333333333s;
}
.point:nth-child(46)::before {
  background: #ac1ae6;
  font-size: 11px;
}
.point:nth-child(46)::after {
  background: #e6751a;
  font-size: 77px;
}
.point:nth-child(47) {
  animation-delay: -1.5666666667s;
}
.point:nth-child(47)::before {
  background: #ad1ae6;
  font-size: 84px;
}
.point:nth-child(47)::after {
  background: #e6741a;
  font-size: 56px;
}
.point:nth-child(48) {
  animation-delay: -1.6s;
}
.point:nth-child(48)::before {
  background: #af1ae6;
  font-size: 68px;
}
.point:nth-child(48)::after {
  background: #e6721a;
  font-size: 26px;
}
.point:nth-child(49) {
  animation-delay: -1.6333333333s;
}
.point:nth-child(49)::before {
  background: #b11ae6;
  font-size: 1px;
}
.point:nth-child(49)::after {
  background: #e6701a;
  font-size: 8px;
}
.point:nth-child(50) {
  animation-delay: -1.6666666667s;
}
.point:nth-child(50)::before {
  background: #b31ae6;
  font-size: 47px;
}
.point:nth-child(50)::after {
  background: #e66f1a;
  font-size: 60px;
}
.point:nth-child(51) {
  animation-delay: -1.7s;
}
.point:nth-child(51)::before {
  background: #b41ae6;
  font-size: 73px;
}
.point:nth-child(51)::after {
  background: #e66d1a;
  font-size: 58px;
}
.point:nth-child(52) {
  animation-delay: -1.7333333333s;
}
.point:nth-child(52)::before {
  background: #b61ae6;
  font-size: 97px;
}
.point:nth-child(52)::after {
  background: #e66b1a;
  font-size: 90px;
}
.point:nth-child(53) {
  animation-delay: -1.7666666667s;
}
.point:nth-child(53)::before {
  background: #b81ae6;
  font-size: 33px;
}
.point:nth-child(53)::after {
  background: #e6691a;
  font-size: 28px;
}
.point:nth-child(54) {
  animation-delay: -1.8s;
}
.point:nth-child(54)::before {
  background: #b91ae6;
  font-size: 6px;
}
.point:nth-child(54)::after {
  background: #e6681a;
  font-size: 48px;
}
.point:nth-child(55) {
  animation-delay: -1.8333333333s;
}
.point:nth-child(55)::before {
  background: #bb1ae6;
  font-size: 46px;
}
.point:nth-child(55)::after {
  background: #e6661a;
  font-size: 49px;
}
.point:nth-child(56) {
  animation-delay: -1.8666666667s;
}
.point:nth-child(56)::before {
  background: #bd1ae6;
  font-size: 3px;
}
.point:nth-child(56)::after {
  background: #e6641a;
  font-size: 3px;
}
.point:nth-child(57) {
  animation-delay: -1.9s;
}
.point:nth-child(57)::before {
  background: #be1ae6;
  font-size: 65px;
}
.point:nth-child(57)::after {
  background: #e6631a;
  font-size: 79px;
}
.point:nth-child(58) {
  animation-delay: -1.9333333333s;
}
.point:nth-child(58)::before {
  background: #c01ae6;
  font-size: 39px;
}
.point:nth-child(58)::after {
  background: #e6611a;
  font-size: 82px;
}
.point:nth-child(59) {
  animation-delay: -1.9666666667s;
}
.point:nth-child(59)::before {
  background: #c21ae6;
  font-size: 92px;
}
.point:nth-child(59)::after {
  background: #e65f1a;
  font-size: 26px;
}
.point:nth-child(60) {
  animation-delay: -2s;
}
.point:nth-child(60)::before {
  background: #c41ae6;
  font-size: 15px;
}
.point:nth-child(60)::after {
  background: #e65e1a;
  font-size: 62px;
}
.point:nth-child(61) {
  animation-delay: -2.0333333333s;
}
.point:nth-child(61)::before {
  background: #c51ae6;
  font-size: 18px;
}
.point:nth-child(61)::after {
  background: #e65c1a;
  font-size: 84px;
}
.point:nth-child(62) {
  animation-delay: -2.0666666667s;
}
.point:nth-child(62)::before {
  background: #c71ae6;
  font-size: 40px;
}
.point:nth-child(62)::after {
  background: #e65a1a;
  font-size: 61px;
}
.point:nth-child(63) {
  animation-delay: -2.1s;
}
.point:nth-child(63)::before {
  background: #c91ae6;
  font-size: 6px;
}
.point:nth-child(63)::after {
  background: #e6581a;
  font-size: 23px;
}
.point:nth-child(64) {
  animation-delay: -2.1333333333s;
}
.point:nth-child(64)::before {
  background: #ca1ae6;
  font-size: 56px;
}
.point:nth-child(64)::after {
  background: #e6571a;
  font-size: 23px;
}
.point:nth-child(65) {
  animation-delay: -2.1666666667s;
}
.point:nth-child(65)::before {
  background: #cc1ae6;
  font-size: 96px;
}
.point:nth-child(65)::after {
  background: #e6551a;
  font-size: 54px;
}
.point:nth-child(66) {
  animation-delay: -2.2s;
}
.point:nth-child(66)::before {
  background: #ce1ae6;
  font-size: 74px;
}
.point:nth-child(66)::after {
  background: #e6531a;
  font-size: 11px;
}
.point:nth-child(67) {
  animation-delay: -2.2333333333s;
}
.point:nth-child(67)::before {
  background: #cf1ae6;
  font-size: 5px;
}
.point:nth-child(67)::after {
  background: #e6521a;
  font-size: 62px;
}
.point:nth-child(68) {
  animation-delay: -2.2666666667s;
}
.point:nth-child(68)::before {
  background: #d11ae6;
  font-size: 47px;
}
.point:nth-child(68)::after {
  background: #e6501a;
  font-size: 59px;
}
.point:nth-child(69) {
  animation-delay: -2.3s;
}
.point:nth-child(69)::before {
  background: #d31ae6;
  font-size: 37px;
}
.point:nth-child(69)::after {
  background: #e64e1a;
  font-size: 29px;
}
.point:nth-child(70) {
  animation-delay: -2.3333333333s;
}
.point:nth-child(70)::before {
  background: #d51ae6;
  font-size: 14px;
}
.point:nth-child(70)::after {
  background: #e64d1a;
  font-size: 45px;
}
.point:nth-child(71) {
  animation-delay: -2.3666666667s;
}
.point:nth-child(71)::before {
  background: #d61ae6;
  font-size: 7px;
}
.point:nth-child(71)::after {
  background: #e64b1a;
  font-size: 97px;
}
.point:nth-child(72) {
  animation-delay: -2.4s;
}
.point:nth-child(72)::before {
  background: #d81ae6;
  font-size: 24px;
}
.point:nth-child(72)::after {
  background: #e6491a;
  font-size: 3px;
}
.point:nth-child(73) {
  animation-delay: -2.4333333333s;
}
.point:nth-child(73)::before {
  background: #da1ae6;
  font-size: 92px;
}
.point:nth-child(73)::after {
  background: #e6471a;
  font-size: 23px;
}
.point:nth-child(74) {
  animation-delay: -2.4666666667s;
}
.point:nth-child(74)::before {
  background: #db1ae6;
  font-size: 43px;
}
.point:nth-child(74)::after {
  background: #e6461a;
  font-size: 45px;
}
.point:nth-child(75) {
  animation-delay: -2.5s;
}
.point:nth-child(75)::before {
  background: #dd1ae6;
  font-size: 12px;
}
.point:nth-child(75)::after {
  background: #e6441a;
  font-size: 32px;
}
.point:nth-child(76) {
  animation-delay: -2.5333333333s;
}
.point:nth-child(76)::before {
  background: #df1ae6;
  font-size: 45px;
}
.point:nth-child(76)::after {
  background: #e6421a;
  font-size: 20px;
}
.point:nth-child(77) {
  animation-delay: -2.5666666667s;
}
.point:nth-child(77)::before {
  background: #e01ae6;
  font-size: 37px;
}
.point:nth-child(77)::after {
  background: #e6411a;
  font-size: 52px;
}
.point:nth-child(78) {
  animation-delay: -2.6s;
}
.point:nth-child(78)::before {
  background: #e21ae6;
  font-size: 34px;
}
.point:nth-child(78)::after {
  background: #e63f1a;
  font-size: 65px;
}
.point:nth-child(79) {
  animation-delay: -2.6333333333s;
}
.point:nth-child(79)::before {
  background: #e41ae6;
  font-size: 7px;
}
.point:nth-child(79)::after {
  background: #e63d1a;
  font-size: 72px;
}
.point:nth-child(80) {
  animation-delay: -2.6666666667s;
}
.point:nth-child(80)::before {
  background: #e61ae6;
  font-size: 16px;
}
.point:nth-child(80)::after {
  background: #e63c1a;
  font-size: 84px;
}
.point:nth-child(81) {
  animation-delay: -2.7s;
}
.point:nth-child(81)::before {
  background: #e61ae4;
  font-size: 18px;
}
.point:nth-child(81)::after {
  background: #e63a1a;
  font-size: 45px;
}
.point:nth-child(82) {
  animation-delay: -2.7333333333s;
}
.point:nth-child(82)::before {
  background: #e61ae2;
  font-size: 41px;
}
.point:nth-child(82)::after {
  background: #e6381a;
  font-size: 14px;
}
.point:nth-child(83) {
  animation-delay: -2.7666666667s;
}
.point:nth-child(83)::before {
  background: #e61ae0;
  font-size: 99px;
}
.point:nth-child(83)::after {
  background: #e6361a;
  font-size: 52px;
}
.point:nth-child(84) {
  animation-delay: -2.8s;
}
.point:nth-child(84)::before {
  background: #e61adf;
  font-size: 88px;
}
.point:nth-child(84)::after {
  background: #e6351a;
  font-size: 51px;
}
.point:nth-child(85) {
  animation-delay: -2.8333333333s;
}
.point:nth-child(85)::before {
  background: #e61add;
  font-size: 81px;
}
.point:nth-child(85)::after {
  background: #e6331a;
  font-size: 21px;
}
.point:nth-child(86) {
  animation-delay: -2.8666666667s;
}
.point:nth-child(86)::before {
  background: #e61adb;
  font-size: 29px;
}
.point:nth-child(86)::after {
  background: #e6311a;
  font-size: 58px;
}
.point:nth-child(87) {
  animation-delay: -2.9s;
}
.point:nth-child(87)::before {
  background: #e61ada;
  font-size: 19px;
}
.point:nth-child(87)::after {
  background: #e6301a;
  font-size: 7px;
}
.point:nth-child(88) {
  animation-delay: -2.9333333333s;
}
.point:nth-child(88)::before {
  background: #e61ad8;
  font-size: 78px;
}
.point:nth-child(88)::after {
  background: #e62e1a;
  font-size: 80px;
}
.point:nth-child(89) {
  animation-delay: -2.9666666667s;
}
.point:nth-child(89)::before {
  background: #e61ad6;
  font-size: 60px;
}
.point:nth-child(89)::after {
  background: #e62c1a;
  font-size: 6px;
}
.point:nth-child(90) {
  animation-delay: -3s;
}
.point:nth-child(90)::before {
  background: #e61ad5;
  font-size: 30px;
}
.point:nth-child(90)::after {
  background: #e62b1a;
  font-size: 57px;
}
.point:nth-child(91) {
  animation-delay: -3.0333333333s;
}
.point:nth-child(91)::before {
  background: #e61ad3;
  font-size: 39px;
}
.point:nth-child(91)::after {
  background: #e6291a;
  font-size: 44px;
}
.point:nth-child(92) {
  animation-delay: -3.0666666667s;
}
.point:nth-child(92)::before {
  background: #e61ad1;
  font-size: 95px;
}
.point:nth-child(92)::after {
  background: #e6271a;
  font-size: 83px;
}
.point:nth-child(93) {
  animation-delay: -3.1s;
}
.point:nth-child(93)::before {
  background: #e61acf;
  font-size: 39px;
}
.point:nth-child(93)::after {
  background: #e6251a;
  font-size: 80px;
}
.point:nth-child(94) {
  animation-delay: -3.1333333333s;
}
.point:nth-child(94)::before {
  background: #e61ace;
  font-size: 92px;
}
.point:nth-child(94)::after {
  background: #e6241a;
  font-size: 8px;
}
.point:nth-child(95) {
  animation-delay: -3.1666666667s;
}
.point:nth-child(95)::before {
  background: #e61acc;
  font-size: 77px;
}
.point:nth-child(95)::after {
  background: #e6221a;
  font-size: 23px;
}
.point:nth-child(96) {
  animation-delay: -3.2s;
}
.point:nth-child(96)::before {
  background: #e61aca;
  font-size: 50px;
}
.point:nth-child(96)::after {
  background: #e6201a;
  font-size: 31px;
}
.point:nth-child(97) {
  animation-delay: -3.2333333333s;
}
.point:nth-child(97)::before {
  background: #e61ac9;
  font-size: 25px;
}
.point:nth-child(97)::after {
  background: #e61f1a;
  font-size: 9px;
}
.point:nth-child(98) {
  animation-delay: -3.2666666667s;
}
.point:nth-child(98)::before {
  background: #e61ac7;
  font-size: 83px;
}
.point:nth-child(98)::after {
  background: #e61d1a;
  font-size: 29px;
}
.point:nth-child(99) {
  animation-delay: -3.3s;
}
.point:nth-child(99)::before {
  background: #e61ac5;
  font-size: 28px;
}
.point:nth-child(99)::after {
  background: #e61b1a;
  font-size: 19px;
}
.point:nth-child(100) {
  animation-delay: -3.3333333333s;
}
.point:nth-child(100)::before {
  background: #e61ac4;
  font-size: 69px;
}
.point:nth-child(100)::after {
  background: #e61a1a;
  font-size: 75px;
}
.point:nth-child(101) {
  animation-delay: -3.3666666667s;
}
.point:nth-child(101)::before {
  background: #e61ac2;
  font-size: 38px;
}
.point:nth-child(101)::after {
  background: #e61a1b;
  font-size: 69px;
}
.point:nth-child(102) {
  animation-delay: -3.4s;
}
.point:nth-child(102)::before {
  background: #e61ac0;
  font-size: 3px;
}
.point:nth-child(102)::after {
  background: #e61a1d;
  font-size: 78px;
}
.point:nth-child(103) {
  animation-delay: -3.4333333333s;
}
.point:nth-child(103)::before {
  background: #e61abe;
  font-size: 60px;
}
.point:nth-child(103)::after {
  background: #e61a1f;
  font-size: 70px;
}
.point:nth-child(104) {
  animation-delay: -3.4666666667s;
}
.point:nth-child(104)::before {
  background: #e61abd;
  font-size: 5px;
}
.point:nth-child(104)::after {
  background: #e61a20;
  font-size: 100px;
}
.point:nth-child(105) {
  animation-delay: -3.5s;
}
.point:nth-child(105)::before {
  background: #e61abb;
  font-size: 85px;
}
.point:nth-child(105)::after {
  background: #e61a22;
  font-size: 52px;
}
.point:nth-child(106) {
  animation-delay: -3.5333333333s;
}
.point:nth-child(106)::before {
  background: #e61ab9;
  font-size: 31px;
}
.point:nth-child(106)::after {
  background: #e61a24;
  font-size: 85px;
}
.point:nth-child(107) {
  animation-delay: -3.5666666667s;
}
.point:nth-child(107)::before {
  background: #e61ab8;
  font-size: 16px;
}
.point:nth-child(107)::after {
  background: #e61a25;
  font-size: 25px;
}
.point:nth-child(108) {
  animation-delay: -3.6s;
}
.point:nth-child(108)::before {
  background: #e61ab6;
  font-size: 8px;
}
.point:nth-child(108)::after {
  background: #e61a27;
  font-size: 41px;
}
.point:nth-child(109) {
  animation-delay: -3.6333333333s;
}
.point:nth-child(109)::before {
  background: #e61ab4;
  font-size: 56px;
}
.point:nth-child(109)::after {
  background: #e61a29;
  font-size: 98px;
}
.point:nth-child(110) {
  animation-delay: -3.6666666667s;
}
.point:nth-child(110)::before {
  background: #e61ab3;
  font-size: 72px;
}
.point:nth-child(110)::after {
  background: #e61a2b;
  font-size: 32px;
}
.point:nth-child(111) {
  animation-delay: -3.7s;
}
.point:nth-child(111)::before {
  background: #e61ab1;
  font-size: 13px;
}
.point:nth-child(111)::after {
  background: #e61a2c;
  font-size: 17px;
}
.point:nth-child(112) {
  animation-delay: -3.7333333333s;
}
.point:nth-child(112)::before {
  background: #e61aaf;
  font-size: 47px;
}
.point:nth-child(112)::after {
  background: #e61a2e;
  font-size: 77px;
}
.point:nth-child(113) {
  animation-delay: -3.7666666667s;
}
.point:nth-child(113)::before {
  background: #e61aad;
  font-size: 58px;
}
.point:nth-child(113)::after {
  background: #e61a30;
  font-size: 81px;
}
.point:nth-child(114) {
  animation-delay: -3.8s;
}
.point:nth-child(114)::before {
  background: #e61aac;
  font-size: 36px;
}
.point:nth-child(114)::after {
  background: #e61a31;
  font-size: 95px;
}
.point:nth-child(115) {
  animation-delay: -3.8333333333s;
}
.point:nth-child(115)::before {
  background: #e61aaa;
  font-size: 15px;
}
.point:nth-child(115)::after {
  background: #e61a33;
  font-size: 59px;
}
.point:nth-child(116) {
  animation-delay: -3.8666666667s;
}
.point:nth-child(116)::before {
  background: #e61aa8;
  font-size: 14px;
}
.point:nth-child(116)::after {
  background: #e61a35;
  font-size: 58px;
}
.point:nth-child(117) {
  animation-delay: -3.9s;
}
.point:nth-child(117)::before {
  background: #e61aa7;
  font-size: 31px;
}
.point:nth-child(117)::after {
  background: #e61a36;
  font-size: 58px;
}
.point:nth-child(118) {
  animation-delay: -3.9333333333s;
}
.point:nth-child(118)::before {
  background: #e61aa5;
  font-size: 4px;
}
.point:nth-child(118)::after {
  background: #e61a38;
  font-size: 97px;
}
.point:nth-child(119) {
  animation-delay: -3.9666666667s;
}
.point:nth-child(119)::before {
  background: #e61aa3;
  font-size: 52px;
}
.point:nth-child(119)::after {
  background: #e61a3a;
  font-size: 53px;
}
.point:nth-child(120) {
  animation-delay: -4s;
}
.point:nth-child(120)::before {
  background: #e61aa2;
  font-size: 63px;
}
.point:nth-child(120)::after {
  background: #e61a3c;
  font-size: 27px;
}
.point:nth-child(121) {
  animation-delay: -4.0333333333s;
}
.point:nth-child(121)::before {
  background: #e61aa0;
  font-size: 89px;
}
.point:nth-child(121)::after {
  background: #e61a3d;
  font-size: 4px;
}
.point:nth-child(122) {
  animation-delay: -4.0666666667s;
}
.point:nth-child(122)::before {
  background: #e61a9e;
  font-size: 46px;
}
.point:nth-child(122)::after {
  background: #e61a3f;
  font-size: 3px;
}
.point:nth-child(123) {
  animation-delay: -4.1s;
}
.point:nth-child(123)::before {
  background: #e61a9c;
  font-size: 63px;
}
.point:nth-child(123)::after {
  background: #e61a41;
  font-size: 59px;
}
.point:nth-child(124) {
  animation-delay: -4.1333333333s;
}
.point:nth-child(124)::before {
  background: #e61a9b;
  font-size: 43px;
}
.point:nth-child(124)::after {
  background: #e61a42;
  font-size: 37px;
}
.point:nth-child(125) {
  animation-delay: -4.1666666667s;
}
.point:nth-child(125)::before {
  background: #e61a99;
  font-size: 66px;
}
.point:nth-child(125)::after {
  background: #e61a44;
  font-size: 84px;
}
.point:nth-child(126) {
  animation-delay: -4.2s;
}
.point:nth-child(126)::before {
  background: #e61a97;
  font-size: 98px;
}
.point:nth-child(126)::after {
  background: #e61a46;
  font-size: 15px;
}
.point:nth-child(127) {
  animation-delay: -4.2333333333s;
}
.point:nth-child(127)::before {
  background: #e61a96;
  font-size: 12px;
}
.point:nth-child(127)::after {
  background: #e61a47;
  font-size: 28px;
}
.point:nth-child(128) {
  animation-delay: -4.2666666667s;
}
.point:nth-child(128)::before {
  background: #e61a94;
  font-size: 37px;
}
.point:nth-child(128)::after {
  background: #e61a49;
  font-size: 97px;
}
.point:nth-child(129) {
  animation-delay: -4.3s;
}
.point:nth-child(129)::before {
  background: #e61a92;
  font-size: 38px;
}
.point:nth-child(129)::after {
  background: #e61a4b;
  font-size: 87px;
}
.point:nth-child(130) {
  animation-delay: -4.3333333333s;
}
.point:nth-child(130)::before {
  background: #e61a91;
  font-size: 31px;
}
.point:nth-child(130)::after {
  background: #e61a4d;
  font-size: 88px;
}
.point:nth-child(131) {
  animation-delay: -4.3666666667s;
}
.point:nth-child(131)::before {
  background: #e61a8f;
  font-size: 9px;
}
.point:nth-child(131)::after {
  background: #e61a4e;
  font-size: 73px;
}
.point:nth-child(132) {
  animation-delay: -4.4s;
}
.point:nth-child(132)::before {
  background: #e61a8d;
  font-size: 95px;
}
.point:nth-child(132)::after {
  background: #e61a50;
  font-size: 40px;
}
.point:nth-child(133) {
  animation-delay: -4.4333333333s;
}
.point:nth-child(133)::before {
  background: #e61a8b;
  font-size: 80px;
}
.point:nth-child(133)::after {
  background: #e61a52;
  font-size: 23px;
}
.point:nth-child(134) {
  animation-delay: -4.4666666667s;
}
.point:nth-child(134)::before {
  background: #e61a8a;
  font-size: 26px;
}
.point:nth-child(134)::after {
  background: #e61a53;
  font-size: 70px;
}
.point:nth-child(135) {
  animation-delay: -4.5s;
}
.point:nth-child(135)::before {
  background: #e61a88;
  font-size: 3px;
}
.point:nth-child(135)::after {
  background: #e61a55;
  font-size: 40px;
}
.point:nth-child(136) {
  animation-delay: -4.5333333333s;
}
.point:nth-child(136)::before {
  background: #e61a86;
  font-size: 81px;
}
.point:nth-child(136)::after {
  background: #e61a57;
  font-size: 87px;
}
.point:nth-child(137) {
  animation-delay: -4.5666666667s;
}
.point:nth-child(137)::before {
  background: #e61a85;
  font-size: 5px;
}
.point:nth-child(137)::after {
  background: #e61a58;
  font-size: 8px;
}
.point:nth-child(138) {
  animation-delay: -4.6s;
}
.point:nth-child(138)::before {
  background: #e61a83;
  font-size: 48px;
}
.point:nth-child(138)::after {
  background: #e61a5a;
  font-size: 31px;
}
.point:nth-child(139) {
  animation-delay: -4.6333333333s;
}
.point:nth-child(139)::before {
  background: #e61a81;
  font-size: 43px;
}
.point:nth-child(139)::after {
  background: #e61a5c;
  font-size: 22px;
}
.point:nth-child(140) {
  animation-delay: -4.6666666667s;
}
.point:nth-child(140)::before {
  background: #e61a80;
  font-size: 21px;
}
.point:nth-child(140)::after {
  background: #e61a5e;
  font-size: 28px;
}
.point:nth-child(141) {
  animation-delay: -4.7s;
}
.point:nth-child(141)::before {
  background: #e61a7e;
  font-size: 81px;
}
.point:nth-child(141)::after {
  background: #e61a5f;
  font-size: 83px;
}
.point:nth-child(142) {
  animation-delay: -4.7333333333s;
}
.point:nth-child(142)::before {
  background: #e61a7c;
  font-size: 67px;
}
.point:nth-child(142)::after {
  background: #e61a61;
  font-size: 31px;
}
.point:nth-child(143) {
  animation-delay: -4.7666666667s;
}
.point:nth-child(143)::before {
  background: #e61a7a;
  font-size: 19px;
}
.point:nth-child(143)::after {
  background: #e61a63;
  font-size: 64px;
}
.point:nth-child(144) {
  animation-delay: -4.8s;
}
.point:nth-child(144)::before {
  background: #e61a79;
  font-size: 25px;
}
.point:nth-child(144)::after {
  background: #e61a64;
  font-size: 30px;
}
.point:nth-child(145) {
  animation-delay: -4.8333333333s;
}
.point:nth-child(145)::before {
  background: #e61a77;
  font-size: 2px;
}
.point:nth-child(145)::after {
  background: #e61a66;
  font-size: 27px;
}
.point:nth-child(146) {
  animation-delay: -4.8666666667s;
}
.point:nth-child(146)::before {
  background: #e61a75;
  font-size: 48px;
}
.point:nth-child(146)::after {
  background: #e61a68;
  font-size: 51px;
}
.point:nth-child(147) {
  animation-delay: -4.9s;
}
.point:nth-child(147)::before {
  background: #e61a74;
  font-size: 80px;
}
.point:nth-child(147)::after {
  background: #e61a69;
  font-size: 42px;
}
.point:nth-child(148) {
  animation-delay: -4.9333333333s;
}
.point:nth-child(148)::before {
  background: #e61a72;
  font-size: 5px;
}
.point:nth-child(148)::after {
  background: #e61a6b;
  font-size: 90px;
}
.point:nth-child(149) {
  animation-delay: -4.9666666667s;
}
.point:nth-child(149)::before {
  background: #e61a70;
  font-size: 11px;
}
.point:nth-child(149)::after {
  background: #e61a6d;
  font-size: 30px;
}
.point:nth-child(150) {
  animation-delay: -5s;
}
.point:nth-child(150)::before {
  background: #e61a6f;
  font-size: 45px;
}
.point:nth-child(150)::after {
  background: #e61a6f;
  font-size: 50px;
}
.point::before, .point::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  animation: 3s infinite ease-in-out;
}
.point::before {
  transform: translateZ(-50px);
  animation-name: moveB;
}
.point::after {
  transform: translateZ(50px);
  animation-name: moveA;
}

@keyframes moveB {
  0%, 20%, 100% {
    transform: translateZ(-50px);
  }
  30%, 60% {
    transform: translateZ(-1em) scale(0.4, 0.4);
  }
}
@keyframes moveA {
  0%, 20%, 100% {
    transform: translateZ(50px);
  }
  30%, 60% {
    transform: translateZ(1em) scale(0.4, 0.4);
  }
}
@keyframes spiral {
  0% {
    transform: rotateZ(0) rotateX(0);
  }
  100% {
    transform: rotateZ(5400deg) rotateX(180deg);
  }
}
@keyframes view {
  0% {
    transform: rotateX(45deg) rotateZ(0);
  }
  100% {
    transform: rotateX(45deg) rotateZ(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
